/*--RESET--*/
*{margin: 0; top: 0; left: 0; font-size: 100%; outline: 0;}

body{display: flex; flex-direction: column; background-color:#212121; color: white; font-family: 'Arial';}

a{text-decoration: none; color: white;}

/*--Not so big--*/
@media screen and (min-width: 768px) and (max-width: 1199px){
    /*--HEADER--*/
        .header{ background-color: #33691E; font-family: 'Baloo', cursive; flex-direction: row; display: flex;}
            .header h1{ font-size: 2.5em; margin: 10px;}
    
        
    
    /*--MAIN--*/
        .main{display: flex; flex-direction: row; height: 500px; font-size: 1.5vw;}
    
        .lista{width: 25vw; height: 100%;  padding: 10px; line-height: 2em; }
            .subheader{ background-color: #558B2F; padding: 5px; text-align: center; margin-bottom: 20px;}
            .lista ul{list-style: none;}
            .lista a{transition: .5s;}
            .lista a:hover{ color: #7CB342; }
    
    
        .player{ width: 50vw; height: 100%;  padding: 10px;}
            #audio-player{width: 100%; height: 30px; margin-top: -30px;}
            .player img{ height: 30vw; width: 100%; }
    
        .playlists{width: 25vw; height: 100%; padding: 10px; line-height: 2em;}
        .add{color: white; border: none; padding: 10px; background-color: #7CB342; width: 100%; cursor: pointer; transition: .5s;} 
        .add:hover{background-color: #64DD17;}

/*--Criar Playlist--*/
    .criar-container{background-color: rgba(104, 104, 104, 0.877); position: fixed; top: 0; right: 0; width: 100vw; height: 100vh;}
        .criar-container article{ width: 50%; margin: auto; background-color: #212121; height: 100vh; padding: 20px;}
}




/*--Big Devices--*/
@media screen and (min-width: 1200px){
/*--HEADER--*/
    .header{ background-color: #33691E; font-family: 'Baloo', cursive; flex-direction: row; display: flex;}
        .header h1{ font-size: 2.5em; margin: 10px;}

    

/*--MAIN--*/
    .main{display: flex; flex-direction: row; height: 500px;}

    .lista{width: 25vw; height: 100%;  padding: 10px; line-height: 2em; }
        .subheader{ background-color: #558B2F; padding: 5px; text-align: center; margin-bottom: 20px;}
        .lista ul{list-style: none;}
        .lista a{transition: .5s;}
        .lista a:hover{ color: #7CB342; }
        .content-lista{background-color:#3d3d3d; padding: 10px;}


    .player{ width: 50vw; height: 100%;  padding: 10px;}
        #audio-player{width: 100%; height: 30px; margin-top: -30px;}
        .player img{ height: 30vw; width: 100%; }

    .playlists{width: 25vw; height: 100%; padding: 10px; line-height: 2em;}
        .add{color: white; border: none; padding: 10px; background-color: #7CB342; width: 100%; cursor: pointer; transition: .5s;} 
        .add:hover{background-color: #64DD17;}

/*--Criar Playlist--*/
    .criar-container{background-color: rgba(104, 104, 104, 0.877); position: fixed; top: 0; right: 0; width: 100vw; line-height: 2em; height: 100vh; display: none;}
        .criar-container article{ width: 50%; margin: auto; background-color: #212121; height: 100vh; padding: 20px;}
        .criar-container input{ width: 96%; height: 30px; background-color: #3d3d3d; color: white; border: none; padding: 0 2%;}
}

